* {
    background-color: white;
    color: black;
    font: italic small-caps bold;
    font-family: "Comic Sans MS", "Comic Sans";
    text-align: center;
}

.page {
    display: flex;
    flex-flow: column;
    align-items: center;
}

img {
    width: 800px;
    border-radius: 20px;
}

ul {
    padding: 0;
}

/* DEBUG: Show flex box border */
/*
.page > * {
    border: 2px solid gray;
    border-radius: 5px;
    background-color: gray;
}
*/
